@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: 'poppins',sans-serif;
    font-size: 1em;
    color: #6E7681;
}

body{
    background-color: #121212;
}

.line{
    height: 1px;
    background-color: #2a2929;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list{
    margin: 10px;
    border: 1px solid #2a2929;
    padding: 10px;
    border-radius: 10px;
    background-color: #0D1117;
}

.list h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 3em;
    color: #fff;
}

.list ol li{
    list-style: none;
    padding: 10px;
    /* border: 1px solid #121209; */
    margin: 5px 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.list ol li:hover{
    color: #bab5b5;
    transform: scale(1.009);
}

.list ol li:nth-child(even){
    border: 1px solid #2a2929;
    background-color: #0D1117;
}

.list ol li:nth-child(odd){
    border: 1px solid #2a2929;
    background-color: #0D1117;
}